NET "reset" LOC = K17; #L13;
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;
#NET "strobe" LOC = N17 | IOSTANDARD = LVCMOS33;

NET "SPI_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_SCK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_CLR" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;


NET "d_CLR" LOC = F12 | IOSTANDARD = LVCMOS33;
#NET "d_strobe" LOC = E11 | IOSTANDARD = LVCMOS33;
NET "d_ch1" LOC = C11 | IOSTANDARD = LVCMOS33;
NET "d_ch2" LOC = D11 | IOSTANDARD = LVCMOS33;
##kanaly


NET "ch(0)" LOC = N17 | IOSTANDARD = LVCMOS33;
NET "ch(1)" LOC = H18 | IOSTANDARD = LVCMOS33;
NET "ch(2)" LOC = L14 | IOSTANDARD = LVCMOS33;
NET "ch(3)" LOC = L13 | IOSTANDARD = LVCMOS33;#L14;
NET "ch(4)" LOC = A4  | IOSTANDARD = LVCMOS33;
NET "ch(5)" LOC = B4  | IOSTANDARD = LVCMOS33;
NET "ch(6)" LOC = B6  | IOSTANDARD = LVCMOS33;
NET "ch(7)" LOC = D5  | IOSTANDARD = LVCMOS33;
