#zegar
NET "clk" LOC = C9 | IOSTANDARD = LVCMOS33;

#SPI
NET "SPI_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_SCK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_CLR" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;


#RS

NET "RS_e" LOC = "R7" | IOSTANDARD = LVCMOS33; # M14 U8? R7?
NET "RS_o" LOC = "M14" | IOSTANDARD = LVCMOS33; # M14 U8? R7?
NET "RS_s" LOC = "C5" | IOSTANDARD = LVCMOS33; #sygnal RS

NET "read_h" LOC = "F7" | IOSTANDARD = LVCMOS33; # kiedy odczyt

#diody
NET "bajerak(0)" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "bajerak(1)" LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "bajerak(2)" LOC = "F11" | IOSTANDARD = LVCMOS33;
NET "bajerak(3)" LOC = "C11" | IOSTANDARD= LVCMOS33;
NET "d_pulse" LOC = "D11"  | IOSTANDARD= LVCMOS33;

#przyciski
NET "anew" LOC = "K17";
NET "reset" LOC = "N17"; #L13;